h3 {
  clear: left;
}

#description {
  display: flex;
}

#description div {
  margin-right: 1rem;
}

.profile-picture {
  width: 40rem;
}

.sidebar-nav-item {
  font-size: larger;
}

.news-item {
  margin-bottom: .1rem;
}

#emails {
  display: flex;
}

#emails div {
  margin-right: 2mm;
}

#emails div a {
  display: block;
}