{% extends "hyde/templates/index.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ get_url(path='tweaks.css', trailing_slash=false) }}">
{% endblock extra_head %}

{% block sidebar_nav %}

{# Retrieve all the sections #}
{% set index = get_section(path="_index.md") %}

{# Display the Home link #}
<li class="sidebar-nav-item"><a href="/">🏠 Home</a></li>

{# Display the subsection links #}
{% for s in index.subsections %}
{% set subsection = get_section(path=s) %}
<li class="sidebar-nav-item"><a href="{{subsection.permalink}}">{{ subsection.title }}</a></li>
{% endfor %}

{# Display the custom links #}
{% for link in config.extra.hyde_links %}
<li class="sidebar-nav-item"><a href="{{link.url}}">{{link.name}}</a></li>
{% endfor %}

{% endblock sidebar_nav %}

{% block content %}
{{ section.content | safe }}

{% set news = get_section(path="news/_index.md") %}
{% for page in news.pages %}
<div>
    <h5 class="news-item">[{{ page.date | date(format="%Y-%m")}}] {{ page.title }}</h5>
    {{ page.content | safe }}
</div>

{% endfor %}

{% endblock content %}